/* ======================================================== */
/* section with prices */
/* ======================================================== */

.prices{
    height: 725px;
    background: rgba(240, 241, 242, 1);
}

/*prices*/
.prices {
  width: 100%;
  height: 780px;
  background-color: rgba(217, 217, 217, 1);
  overflow: hidden;
}
.prices-content-prices {
  width: 100%;
  text-decoration: none;
}
.prices-content-prices h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: rgba(0, 200, 170, 1);
}
.prices-content-prices-basic {
  position: absolute;
}
.prices-content-prices-basic-details {
  position: absolute;
  text-align: center;
  left: 0;
  width: 100%;
  height: 400px;
  margin-top: 20px;
}
.prices-content-prices-basic-details li {
  background-color: rgba(240, 240, 240, 1);
  height: 40px;
  padding: 8px;
  font-size: 18px;
  color: rgba(70, 70, 70, 1);
  margin-left: 1px;
}
.prices-content-prices-basic-details li:nth-child(2n) {
  background-color: rgba(230, 230, 230, 1);
  color: rgba(100, 100, 100, 1);
}

.prices-content-prices-basic-details li:first-child {
  border: 1.5px solid rgba(204, 204, 204, 1);
  width: 100px;
  height: 100px;
  font-size: 16px;
  border-radius: 100%;
  margin: 0 auto 40px auto;
  padding: 25px 5px 10px 5px;
  background-color: rgba(255, 255, 255, 1);
  font-weight: bold;
  color: rgba(150, 150, 150, 1);
}
.prices-content-prices > li:nth-child(2n) .prices-content-prices-basic-details li:first-child {
  border: 1.5px solid rgba(0, 200, 170, 1);
  color: rgba(0, 200, 170, 1);
  width: 100px;
  height: 100px;
  font-size: 16px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 1);
}
.prices-content-prices > li:nth-child(2n) .prices-content-prices-basic-details li:last-child {
  background-color: rgba(0, 200, 170, 1);
}
.prices-content-prices > li:nth-child(2n) .prices-content-prices-basic-details li {
  background-color: rgba(240, 240, 240, 1);
}

.prices-content-prices > li:nth-child(2n) .prices-content-prices-basic-details {
  width: 330px;
  margin-left: 1px;
}
.prices-content-prices > li:nth-child(2n) .prices-content-prices-basic-details li:nth-child(2n) {
  background-color: rgba(255, 255, 255, 1);
}
.prices-content-prices > li:nth-child(2n) .prices-content-prices-basic-details button {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 200, 170, 1);
}
.prices-content-prices-basic-details sup {
  font-weight: 600;
  font-size: 12px;
}
.prices-content-prices-basic-details sub {
  font-weight: bold;
  font-size: 35px;
  display: inline-block;
  margin-left: 10px;
}
.prices-content-prices-basic-details span {
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
  margin-top: 10px;
}
.prices-content-prices-basic-details li:last-child {
  position: absolute;
  bottom: 20px;
  width: 100%;
  background-color: inherit;
}

.prices-content-prices-basic-details button {
  background-color: rgba(0, 200, 170, 1);
  border: 0;
  width: 40%;
  height: 30px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
}

.prices-content-prices > li:nth-child(2n) h3 {
  color: rgba(255, 255, 255, 1);
}
.prices-content-prices > li {
  display: inline-block;
  width: 333px;
  height: 500px;
  border: 1.5px solid rgba(204, 204, 204, 1);
  background-color: rgba(245, 245, 245, 1);
  position: relative;
  padding: 40px;
  border-radius: 5px;
}
.prices-content-prices > li::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 1px solid black;
  left: 39.9%;
  top: -8.5%;
  border-color: inherit;
  background-color: inherit;
  border-width: inherit;
  padding: 30px;
}
.prices-content-prices > li::after {
  content: "";
  position: absolute;
  left: 44.8%;
  top: -5.2%;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: rgba(200, 200, 200, 1);
}
.prices-content-prices > li:nth-child(2n) {
  background-color: rgba(0, 200, 170, 1);
  border: 0;
  height: 498px;
  margin-left: 25px;
  margin-right: 25px;
}
.prices-content-prices > li:nth-child(2n)::after {
  background-color: rgba(255, 255, 255, 1);
  left: 44.6%;
  top: -5.5%;
}
.prices-content-pricing {
  border-bottom: 8px solid rgba(0, 200, 170, 1);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  margin: 40px 0 100px 0;
  width: 333px;
}
